@use '../../styles/variables' as v;
body {
  background-color: v.$color-bg;
}
.app {
  max-width: 700px;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: v.$color;
}
