@use '../../styles/variables' as v;

.spinner {
  width: 50px;
  height: 50px;
  background-color: v.$color-primary;
  margin: v.$color-text auto;
  // animation-name : le nom qui doit correspondre à une anim definie ailleurs
  // animation-duration : le temps de l'animation
  // animation-iteration-count : infinite ou alors un nombre de repetitions
  // animation-timing-function : une courbe de vitesse soit on utilise une courbe par defaut genre ease-in-out (ralenti debut fin) soit on créé notre propre courbe (avec cubic bezier : https://cubic-bezier.com/#.17,.67,.83,.67)
  animation: toto 1.5s infinite ease-in-out;
}

@keyframes toto {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    background-color: v.$color-primary;
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: yellow;
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    background-color: chartreuse;
  }
}
